<h1> This is the first sub-page </h2>

<form>
	<button id="home">Home</button>
	<button id="page2">Page 2</button>
	<button id="page3">Page 3</button>
</form>
<div class="slideshowImages">
	<div class = "mySlides">
		<div class="numbertext">1 / 3</div>	
		<img src="https://i.pinimg.com/236x/78/88/91/788891e826b1db28de6e9648b2c6d273--sports-art-sports-logos.jpg" alt="Benny the Beaver">
		<div class="text">Caption One</div>
	</div>

	<div class="mySlides">
		<div class="numbertext">2 / 3</div>
		<img src="http://wpmu.library.oregonstate.edu/osu_archives/files/2013/09/MC-Decals-OSC-Benny-500x.jpg" alt="Benny the Beaver 2">
		<div class="text">Caption Two</div>
	</div>
	
	<div class="mySlides">
		<div class="numbertext">3 / 3</div>
		<img src="https://s-media-cache-ak0.pinimg.com/originals/09/b8/93/09b8933667ed3bf3b8165a0e642308a4.jpg" alt="Benny the Beaver 3">
		<div class="text">Caption Three</div>
	</div>
</div>

<script src="/buttons1.js"></script>
<script src="/slideshow.js"></script>
