<h2 align="center"> Resume </h2>
<div align="center">
<form>
	<button id="home">Home</button>
	<button id="page1">Resume</button>
	<button id="page2">Projects</button>
	<button id="page3">Other</button>
</form>
</div>

<h3> Education: </h3>
<h4> Oregon State University: Bachelor of Science in Mathematics </h4>
<h4> Expected Graduation: June 2018 </h4>
	<ul>
		<li>Cumulative GPA: 3.6
		<li>Dean's list:
			<ul>
				<li>Fall 2014
				<li>Winter 2015
				<li>Spring 2016
				<li>Fall 2016
				<li>Winter 2017
				<li>Spring 2017
				<li>Fall 2017
			</ul>
	</ul>
<h5>Relevant Coursework:</h5>
<p>Linear Algebra I/II, Abstract Algebra, Discrete Mathematics, Applied Ordinary Differtials, Applied and Computational Algebra, Complex Variables, Models Methods of Applied Math, Software Engineering I/II, Data Structures, Web Development

<h3> Work Experience: </h3>
<h4>First Street Haven: Apr 2011 - Jun 2013</h4>
	<h3>Prep-Cook</h3>
	<h5> Responsibilities Included:</h5>
		<p>Chopping vegetables, cutting meat, preparing various parts to dishes. Washing dishes, cleaning grills/oven, mopping, washing tables.

<h4>Black Ball Ferry Line May 2013 - Present </h4>
	<h3>Dockhand/Senior Dockhand</h3>
	<h5>Responsibilities Included:</h5>
		<p>Checking passports, colleting tickets, and efficiently loading/unloading the boat. As the senior dockhand I am expected to quickly and efficiently train any new dockhands.

<h4>Mangano Contracting May 2012 - Sep 2015 </h4>
	<h3> Assistant Tile Setter </h3>
	<h5>Responsibilities Included:<h5>
		<p>Measuring/cutting tile, grouting tile, laying bathroom floor/wall tile, loading/unloading tools.

<h3>Other Experience:</h3>
<h4>Officer of Lambda Chi Alpha Sep 2016 - Sep 2017 </h4>
	<h5>Treasurer</h5>
		<p>As the Treasurer of Lambda Chi Alpha, I was responsible for managing a 350-400 thousand dollar budget. I tracked the budget of every officer, as well as made sure each of the members paid their dues in a timely manner.

<h3>Skills:</h3>
<h5>Proficient with</h5>
	<ul>
		<li>C
		<li>C++
		<li>Python
		<li>Microsoft Office Tools
		<li>LaTex
		<li>MASM Assembly x86
	</ul>


<div class="refScroll" style="width:300px;height:100px;overflow:scroll;padding:5px;">
	<h2> References </h2>
		<h3> Kris Osborn </h3>
		<p> KO Business Services, LLC
		<p>Phone: (408)206 - 7330
		<h3> Rachel Anderson </h3>
		<p>Pensinsula College
		<p>Phone: (360)670-6525
		<h3>Rian Anderson</h3>
		<p>Black Ball Ferry Line
		<p>Phone: (360)460-8920
</div>

To download Resume in PDF:
<form>
	<button id="downloadButton">Download</button>
</form>
<script src="/buttons1.js"></script>

