<h1 align="center"> Trey Hoover's Personal Website </h1>
<h2 align="center">E-mail: hoovertr@oregonstate.edu</h2>

<form>
	<div align="center">
		<button id="home">Home</button>
		<button id="page1">Resume</button>
		<button id="page2">Projects</button>
		<button id="page3">Other</button>
	</div>
</form>

<h3 align="center">Objective Statement: <h3>
<p align="center">I am currently looking for an internship in the fields of Computer or Data Science.<p align="center"> I am interested in working on projects that will build upon the mathematical and computer science foundations I have created at Oregon State University.

<div align="center">
	<div class = "mySlides">	
		<img src="/beach.jpg" alt="Me at the beach">
		<div class="text">First Beach, WA</div>
	</div>

	<div class="mySlides">
		<img src="/beach2.jpg" alt="A picture of sunset">
		<div class="text">Newport, OR</div>
	</div>
	
	<div class="mySlides">
		<img src="/lake.jpg" alt="Picture of PJ Lake">
		<div class="text">P.J. Lake (Olympic Mountains, WA)</div>
	</div>

	<div class="mySlides">
		<img src="/mountain.jpg" alt="Picture of Whistler">
		<div class="text">Peak 2 Peak Gondola (Whislter, BC)</div>
	</div>

	<div class="mySlides">
		<img src="/mountain2.jpg" alt="Picture of me at Whistler">
		<div class="text">Whistler, BC </div>
	</div>
</div>

<script src="/slideshow.js"></script>
<script src="/buttons.js"></script>
