<h1 align="center"> Programming/Coding Projects</h1>
<div align="center">
<form>
	<button id="home">Home</button>
	<button id="page1">Resume</button>
	<button id="page2">Projects</button>
	<button id="page3">Other</button>
</form>
</div>

<ul>
	<li><h1>Project 1: </h1>
		<h3 align="center">Weather App</h3>
		<p align="center">Description: Lets you check the weather<br>
			<button id="link1">GitHub Link</button>
	<li><h1>Project 2:</h1>
		<h3 align="center">Get Post Checker</h3>
		<p align="center">Description: Checks GET and POST requests<br>
			<button id="link2">GitHub Link</button>
	<li><h1>Project 3:</h1>
		<h3 align="center">Auto Organizer</h3>
		<p align="center">Description: Organizes automobiles by different criteria <br>
			<button id="link3">GitHub Link</button>
</ul>


<script src="/buttons.js"></script>
