<h1> This is the second sub-page</h1>

<form>
	<button id="home">Home</button>
	<button id="page1">Page 1</button>
	<button id="page3">Page 3</button>
</form>

<div class="refScroll" style="width:300px;height:100px;overflow:scroll;padding:5px;">
	<h2> References </h2>
		<h3> Kris Osborn </h3>
		<p> Stuff about her </p>
		<h3> Someone Else </h3>
		<p> Stuff about them </p>
		<h3> Another Person </h3>
		<p> Stuff about third </p>
</div>


<script src="/buttons2.js"></script>
