<h1 align="center">Other Relevant Information</h1>

<div align="center">
<form>
	<button id="home">Home</button>
	<button id="page1">Resume</button>
	<button id="page2">Projects</button>
	<button id="page3">Other</button>
</form>
</div>

<h3>Community Service:</h3>
<h4>2014:</h4>
	<ul>
		<li>5/22 - Volunteered with a 5th grade class (5 hours)
		<li>9/17 - Provided a helping hand at Community Outreach raking leaves (2 hours)
		<li>10/1 - Helped collect cans of food for Community Outreach (5 hours)
		<li>11/12 - Helped organize food stores at Community Outreach (3 hours)
	</ul>
<h4>2015:</h4>
	<ul>
		<li>2/6 - Picked up garbage around the community (4 hours)
		<li>2/13 - Picked up garbage around the community (4 hours)
		<li>3/19 - Helped collect cans of food for COI (5 hours)
		<li>4/22 - Helped collect cans of food for COI (5 hours)
	</ul>
<h4>2016:</h4>
	<ul>
		<li>2/11 - Volunteered for elementary school Arts & Crafts (3 hours)
		<li>3/25 - Helped distribute food at COI (3 hours)
		<li>10/30 - Helped make Halloween Arts & Crafts for elementary school (4 hours)
	</ul>

<h6>Note: I will update with any new community service, or add any future information that does not belong on another page (mathematical competitions, projects, etc).

<script src="/buttons.js"></script>
